@media (max-width: 375px) {
    .ul-li-item,
    .action-button {
        display: none;
    }
}


/* FIRST SECTION */


/* 1440 */

@media (max-width: 1440px) {
    .first-section-block {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /* .wrapper {
        background-color: lightcoral;
        width: 48%;
    } */
    .text-block {
        width: 490px;
        margin: 0 auto;
        text-align: start;
    }
    .text-block h1 {
        font-size: 56px;
        line-height: 60px;
    }
    .button-text-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 40px auto 0 auto;
    
    }
    .div-p-item {
        width: 236px;
    }
    .action-div-button {
        width: 100px;
        height: 48px;
        margin-right: 20px;
    }
    .burger-bar {
        display: none;
    }

    
}
/* 1440 */




/* 1024 */

@media (max-width: 1024px) {
    .first-section-block {
        width: 100%;
        display: block;
    }
    .text-block {
        margin: 0 auto;
        max-width: 696px;
        width: 630px;
        text-align: center;
    }
    .text-block h1 {
        font-size: 56px;
        line-height: 60px;  
    }
    .button-text-block {
        justify-content: space-evenly;
        margin: 20px auto 68px auto;
        width: 630px;
    }
    .div-p-item {
        width: 370px;
        line-height: 20px;
    }

    .image-div-block {
        margin: 0 auto 32px auto;
        width: 90%;
    }
    .image-div-block img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 15px;
    }
}
/* 1024 */


/* 744 */
@media (max-width: 744px) {
    .text-block {
        margin: 0 auto;
        width: 90%;
    }

    .text-block h1 {
    font-size: 40px;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    }
    .button-text-block {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .button-text-block {
        display: block;
    }
    .action-div-button {
        width: 90px;
        height: 40px;
        margin: 24px 0 16px 0;
    }
    .div-p-item {
        line-height: 28px;
        margin: 0 auto;
    }

    .image-div-block {
        /* margin: 0 auto; */
        width: 90%;
    }
    .image-div-block img {
        width: 100%;
        margin: 24px auto 20px auto;
    }
}
/* 744 */

/* 375 */

@media (max-width: 375px) {
    .burger-bar {
        display: inline-block;
    }
    .header {
        padding-bottom: 65px;
    }
    .text-block {
        margin: 0 auto;
        width: 90%;
    }

    .text-block h1 {
    font-size: 40px;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    }
    .button-text-block {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .div-p-item {
        width: 100%;
    }
    /* .action-div-button {
        width: 90px;
        height: 40px;
        margin: 24px 0 16px 0;
    } */
    
    .image-div-block {
        width: 90%;
    }
    .image-div-block img {
        width: 100%;
        height: 40vh;
    }
}
/* 375 */






