/* 1440 */
@media (max-width: 1440px) {
    .burger-bar {
        display: none;
    }
    .first-section-block {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .text-block {
        width: 490px;
        margin: 0 auto;
        text-align: start;
    }
    .text-block h1 {
        font-size: 56px;
        line-height: 60px;
    }
    .button-text-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 40px auto 0 auto;
    }
    .div-p-item {
        width: 236px;
    }
    .action-div-button {
        width: 100px;
        height: 48px;
        margin-right: 20px;
    }
    .feature-container {
        background-color: #F3F3F3;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        column-gap: 61px;
        margin-top: 64px;
        padding: 64px 0px 64px 0px;
    }
    .feature-div-block {
        width: 360px;
        height: 128hv;
    }
    .title-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;
    }
    .second-section-block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 96px;

    }
    .left-side-block {
        width: 503.5px;
    }
    .first-p-item {
        margin: 16px 0 16px 0;
    }
    .div-p-item {
        margin: 8px 0 8px 0;
    }
    .room-image {
        width: 100%;
        margin: 96px 0 0 0;
    }
}
/* 1440 */

/* 1024 */
@media (max-width: 1024px) {
    .first-section-block {
        width: 100%;
        display: block;
    }
    .text-block {
        margin: 0 auto;
        max-width: 696px;
        width: 630px;
        text-align: center;
    }
    .text-block h1 {
        font-size: 56px;
        line-height: 60px;  
    }
    .button-text-block {
        justify-content: space-evenly;
        margin: 20px auto 68px auto;
        width: 630px;
    }
    .div-p-item {
        width: 370px;
        line-height: 20px;
    }
    .image-div-block {
        margin: 0 auto 32px auto;
        width: 90%;
    }
    .image-div-block img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 15px;
    }
    .feature-container {
        padding: 39px 32px 39px 32px;
    }
    .second-section-block {
        display: block;
        padding-top: 32px;
    }
    .house-image-block {
        width: 95%;
        margin: 0 auto;
    }
    .house-image {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
    .left-side-block {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .first-p-item {
        margin-top: 0;
    }
    .headline-block h5,
    .paragraph-section {
        width: 415.5px;
        margin-top: 64px;
    }
    .room-image {
        width: 100%;
        height: 588px;
        object-fit: cover;
    }
    .subscribe {
        display: none;
    }
    .footer-logo-block {
        margin: 0 0 48px 22px;
    }
    .footer-container {
       justify-content: flex-start;
       margin-left: 22px;
    }
    .footer-column-block {
        margin-right: 72.67px;
    }
}
/* 1024 */

/* 744 */
@media (max-width: 744px) {
    .text-block {
        margin: 0 auto;
        width: 90%;
    }
    .text-block h1 {
    font-size: 40px;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    }
    .button-text-block {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .button-text-block {
        display: block;
    }
    .action-div-button {
        width: 90px;
        height: 40px;
        margin: 24px 0 16px 0;
    }
    .div-p-item {
        line-height: 28px;
        margin: 0 auto;
    }
    .image-div-block {
        width: 90%;
    }
    .image-div-block img {
        width: 100%;
        margin: 24px auto 20px auto;
    }
    .feature-container {
        display: block;
    }
    .feature-div-block {
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
    }
    .title-wrapper {
        justify-content: center;
    }
    .left-side-block {
        display: block;
        text-align: center;
    }
    .headline-block h5 {
        width: 100%;
        margin-top: 29px 0 29px 0;
    }
    .paragraph-section {
        margin-top: 29px;
        width: 100%;
    }
    .showcase,
    .publish {
        margin: 8px 0 8px 0;
    }
    .room-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .footer-logo-block {
        margin-bottom: 22px;
    }
}
/* 744 */

/* 375 */
@media (max-width: 375px) {
    .ul-li-item,
    .action-button {
        display: none;
    }
    .burger-bar {
        display: inline-block;
    }
    .header {
        padding-bottom: 65px;
    }
    .text-block {
        margin: 0 auto;
        width: 90%;
    }
    .text-block h1 {
    font-size: 40px;
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    }
    .button-text-block {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
    .div-p-item {
        width: 100%;
    }
    .image-div-block {
        width: 90%;
    }
    .image-div-block img {
        width: 100%;
        height: 40vh;
    }
    .house-image-block {
    /* !!!!!!!!!!!!!!!!!!!!!!!! */
    }
    .room-image {
        width: 100%;
        object-fit: contain;
    }
    .footer-logo-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .footer-container {
        width: 100%;
     }
}
/* 375 */






