/* HEADER */
.inter {
    font-family: 'Inter';
    font-style: normal;
}
.header {
    padding-bottom: 96px;
}
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.ul-li-item {
    width: 328px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
}
.action-button {
    width: 100px;
    height: 48px;
    background: #000000;
    border: none;
    border-radius: 32px;
    color: #F3F3F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
/* HEADER */
/* FIRST SECTION */
.first-section-block {
    margin: 0 auto;
}
.text-block {
    text-align: center;
}
.text-block h1 {
    margin: 0 auto;
    color: #000000;
    font-weight: 900;
    margin-bottom: 24px;
}
.text-block p {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.action-div-button {
    background: #000000;
    border: none;
    border-radius: 32px;
    color: #F3F3F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.button-text-block p {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
/* FEATURE BLOCK */
.black-circle {
    background: #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
.black-circle h6 {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.feature-block p {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
/* FEATURE BLOCK */
/* FIRST SECTION */

/* SECOND SECTION */
.room-image {
    display: block;
}
.background {
    background-color: #000000;
}
.house-image {
    border-radius: 13px;
}
.headline-block {
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
}
.second-section-block p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
/* SECOND SECTION */

/* FOOTER  */
.footer {
    background-color: #000000;
    padding: 96px 0 96px 0;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;
}
.footer-logo-block {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
}
.footer-column-block h6,
.subscribe h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 16px;
}
.footer-column-block {
    line-height: 25px;
}
.subscribe p {
    width: 228px;
    mix-blend-mode: normal;
    opacity: 0.4;
}





